/* Add Your Custom CSS Codes Here */





 

/* removes line from mod_rocksprocket module */

.sprocket-tabs-panels {

    border-bottom: none;

}

/* removes background image from header */

#rt-header {

    background-image: none !important;

}

/* font style for the utility menu */

#rt-utility {

  font-size: 1.10em; font-weight: bold;

  background: url("../../../images/banners/bg_title_dasboard.png") no-repeat scroll 0 0 transparent;

    /*height: 95px;*/

    margin: 0 auto;

    width: 960px;

  margin: 0 0px !important;

}

/* aligns search box to right in utility menu */

#rokajaxsearch .inputbox {

  float:right;

}

/* aligns search box vertically with utility menu */

#rt-utility .rt-block { margin: 0; }

#rokajaxsearch { margin-top: -11px; }



/* rounds corners of "template tutorials" boxes (3 big home nav buttons) */

.rt-block {  border-radius: 4px !important;

}



.title4 {  border-radius: 4px !important;

}



/* primaryservice-home elements control the 3 main tabs on home page */

.primaryservice-home {

    background: url("../../../images/icons/home/bg_pamaryservice.gif") repeat-x scroll 0 0 #EBEBEB;

    border: 1px solid #A1A1A1;

    border-radius: 5px 5px 5px 5px;

    box-shadow: 0 2px 5px #999999;

    width: 290px;

    float: left;

    margin: -15px;
	height: 125px;

}



.primaryservice-home h4 {

    color: #555555;

    letter-spacing: -1px;

   margin: 5px 0;

    padding: 0 0 0 10px;

}

.primaryservice-home p {

    letter-spacing: 0;

    margin: 0;

    padding: 0 15px 0 10px;

    width: 170px;

}



.primaryservice-home .iconred {

    background: url("../../../images/icons/home/bg_pamaryservice-red.gif") repeat-x scroll 0 0 #703342;

    border-radius: 5px 0 0 5px;

    height: 85px;

    padding: 20px 0;

    width: 95px;

}



.iconred img {

    padding: 0 0 0 12px;

}



.primaryservice-home .iconblue {

    background: url("../../../images/icons/home/bg_pamaryservice-blue.gif") repeat-x scroll 0 0 #2a4462;

    border-radius: 5px 0 0 5px;

    height: 85px;

    padding: 20px 0;

    width: 95px;

}



.iconblue img {

    padding: 0 0 0 12px;

}



#iconblue {

    margin: 0 0 0 12px;

}



.floatleft {

    float: left;

}



.floatright {

    float: right;

}

/* end of primaryservice-home elements for the 3 main tabs on home page */





/* Changes font size for main menu */

div.rt-menubar ul.menutop li span {

  font-size: 14px;

  }



/* Overrides all caps for main menu */

.menu-block {

  text-transform: capitalize !important;

}



/* Custom changes to utility menu, including background image placement and alignment fixes */

#rt-utility2 {

    background-image: none;

    /*margin: -45px 0 0 !important;*/
	margin: 0 !important;

  

}

#rt-utility3 {

    background-image: none;

}



#rt-utility4 {

    background-image: none;

}

#rt-utility5 {

    /*margin: 46px 960px 0px 0px !important;*/
	/*margin: 5px 960px 0px 0px !important;*/

}

/* End of custom changes for utility menu */



/* Rounds the top corners of the main menu */

#rt-navigation2 {

border-radius: 7px 7px 7px 7px !important;

border-top: 4px solid rgba(0, 0, 0, 0.06);

}



#rt-navigation3 {

border-radius: 4px 4px 4px 4px !important;

border-top: 1px solid rgba(0, 0, 0, 0.4);

}

/* End of rounds the top corners of the main menu */


/* custom css */
.layout-slideshow .sprocket-features-pagination {
	z-index: 2 !important;
}


.main-dashboard {
	background: url("../images/overlays/dashboard.jpg") no-repeat scroll 50% 50% transparent;
}



















